.p1 {
    font-family: "Arial";
    color: #633068;
    text-shadow: 0.5px 1px 1px black;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background: white;
    border-radius: 5%;
}


.page1
{
    background: #afafc4;
     border-radius:3% ;
padding-bottom: 0.1px;

}


.centered img {

    border-radius: 50%;
  position: center;
}

.title{
    font-family: Arial;
    font-weight: bold;
    font-color: #190d3b;

}
.form{
    margin-left: -60px;
}



.form-group
{
    text-align: left;
    margin-left: 50px;
    padding-bottom: 2px;
}

.sub{

    margin-left: 40px;
    padding-top: 20px;
   font-weight:bold;

}

.btn{
    padding-bottom: 5px;
}